@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-base-size: 16px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  font-size: var(--font-base-size);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
}

body::before {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-image: linear-gradient(
    to bottom left,
    #040308 0%,
    #0b061c 40%,
    #0b061c 60%,
    #040308 100%
  );
}

h1 {
  font-size: 3.25rem;
  line-height: 1.3;
}

h2 {
  font-size: 3.25rem;
  line-height: 1.3;
}

.subheading {
  font-size: 2rem;
  line-height: 1;
}

.btn {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  background-color: #040308;
  justify-content: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.btn::before {
  content: "";
  position: absolute;
  height: 107%;
  width: 102%;
  background-image: linear-gradient(to right, #6a11cb, #c471ed);
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
}

.btn:hover::before {
  box-shadow: 4px 0 20px #6b11cb56, -4px 0 20px #c471ed44;
}

.btn-primary::before {
  z-index: 0;
}

.btn-primary:hover::before {
  z-index: -1;
}

.btn-secondary > span {
  background: linear-gradient(to right, #6a11cb, #c471ed);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}

.btn-secondary::before {
  z-index: -1;
}

.btn-secondary:hover {
  background-color: transparent;
}

.btn-secondary:hover > span {
  background: #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-secondary:hover::before {
  z-index: 0;
}

.swiper-wrapper {
  height: 100%;
}

.project-card-slide.swiper-slide-active img {
  animation: moveObject 20s infinite alternate linear;
}

.project-card-slide:not(.swiper-slide-active) a {
  opacity: 0;
  pointer-events: none;
}

@keyframes moveObject {
  from {
    object-position: top;
  }
  to {
    object-position: bottom;
  }
}
